<a href="https://colab.research.google.com/github/MouldSkate/cyp_2021/blob/main/17_11_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
edad = 15
estatura = 1.67
a = 10
b = 3

c = 2 ** b + 2 + 3 +4

print(c)

e = estatura * 2.0
print(e)

f = a/b # en payton se have el calculo exÃ¡cto
print(f) #3.333333

# tambien podemos forzar al calculo de enteros
g = a // b
print("g=",g)

h = a % b
print("h = ", h)

num = 11
print("Es par num ?", (num % 2) == 0)

17
3.34
3.3333333333333335
g= 3
h =  1
Es par num ? False

In [ ]:
ecuacion = 9 + 7 * 8 - 36 / 5 #9 + 56 - 7.2 -> 65 - 7.2 = 57.8
print(ecuacion)

ecuacion = (9 + 7) * 8 - 36 / 5 # 128 - 7.2
print(ecuacion)

ecuacion = 9 + 7 * (8 - 36) / 5
print(ecuacion)

57.8
120.8
-30.200000000000003

In [ ]:
# operadores logicos --> true y false

x = 5
y = 4

valor = (x == y) # Son iguales ?? --> Falso
print(valor)

valor = (x != y) # Son diferentes ?? --> Verdadero
print(valor)

valor = (x < y) # x es menos que y ?? FALSE
print(valor)

valor = (x > y) # x es mayor que y ?? True
print(valor)

y = 5
valor = (x <= y) # x es menor o igual que y ?? True
print(valor)

valor = (x >= y) # x es mayor o igual que y ?? True
print(valor)

valor  = (5 == 4) # true
print(valor)

False
True
False
True
True
True
False

In [ ]:
costo_chetos = 7.0
tienda_abierta = True
capital_en_bolsa = 10.0

se_compra = ( costo_chetos < capital_en_bolsa) and (tienda_abierta == True)
print(se_compra)

True