<a href="https://colab.research.google.com/github/MouldSkate/cyp_2021/blob/main/Tarea_3_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# Problema 1.1
PREPRO = 0
PAGO = 0
DEVO = 0

PREPRO = float(input("Precio del producto: "))
PAGO = float(input("Se recibe: "))
DEVO = PAGO - PREPRO

print(f"Su cambio será de: {DEVO}")

Precio del producto: 49.20
Se recibe: 100
Su cambio será de: 50.8

In [16]:
# Problema 1.2
BASE = 0 
ALTURA = 0
AREA = 0

BASE =  float(input("Introduce la base: "))
ALTURA = float(input("Introduce la altura: "))
AREA = (BASE * ALTURA) / 2

print(f"El área del triangulo es: {AREA}")

Introduce la base: 11.60
Introduce la altura: 7.40
El área del triangulo es: 42.92

In [18]:
# Problema 1.3
NOM = 0
PES = 0
LON = 0
PESKIL = 0
LONMET = 0

NOM = input("Introduce el nombre del dinosaurio: ")
PES = float(input("Introduce su peso en toneladas: ")) # El prblema dice que libras pero lo convierte en toneladas en la tabla
LON = float(input("Introduce su altura en pies: "))
PESKIL = PES * (1000)
LONMET = LON * (0.3047)

print(NOM)
print(f"Su peso en kilogramos es: {PESKIL}")
print(f"Su altura en metros es: {LONMET}")

Introduce el nombre del dinosaurio: PLATEOSAURUS
Introduce su peso en toneladas: 5
Introduce su altura en pies: 30
PLATEOSAURUS
Su peso en kilogramos es: 5000.0
Su altura en metros es: 9.141

In [26]:
# Problema 1.4
GAL = 0
LIT = 0
TOTAL = 0

GAL = float(input("Galones que se surtieron: "))
LIT = GAL * (3.785)
TOTAL = LIT * (8.2)

print(f"El total a pagar es de: {TOTAL}")

Galones que se surtieron: 19.90
El total a pagar es de: 617.6363

In [34]:
# Problema 1.5
RADIO = 0
ALTU = 0
VOL = 0
AREA = 0

RADIO = float(input("Introduzca el radio: "))
ALTU = float(input("INtroduzca la altura: "))
VOL = (3.141592) * (RADIO ** 2)  * ALTU
AREA = 2 * (3.141592) * RADIO * ALTU

print(f"Su volumen es: {VOL}")
print(f"Su área es: {AREA}")

Introduzca el radio: 85.9
INtroduzca la altura: 237.2
Su volumen es: 5498583.122421345
Su área es: 128022.88992832

In [39]:
# Problema 1.6
DIAS = 0
SEG = 0

DIAS = int(input("Introduzca los días: "))
SEG = DIAS * (86400)

print(f"Son {SEG} segundos")

Introduzca los días: 3
Son 259200 segundos