<a href="https://colab.research.google.com/github/MouldSkate/cyp_2021/blob/main/Tarea_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
 # Ejercicio 3.1
NOMINA = 0
SUE = 0
SUE = [0,1,2,3,5,6,7,8,9,10]
for i in SUE:
  if (i <= 10):
    SUE = float(input("Introduce el sueldo del trabajador: "))
    NOMINA = NOMINA + SUE
    i = i + 1
print(f"La Nomina es de {NOMINA}")

Introduce el sueldo del trabajador: 1500
Introduce el sueldo del trabajador: 890
Introduce el sueldo del trabajador: 700
Introduce el sueldo del trabajador: 950
Introduce el sueldo del trabajador: 2300
Introduce el sueldo del trabajador: 1650
Introduce el sueldo del trabajador: 1800
Introduce el sueldo del trabajador: 1400
Introduce el sueldo del trabajador: 760
Introduce el sueldo del trabajador: 900
La Nomina es de 12850.0

In [43]:
# Ejercicio 3.4
SUMGAS = 0
GASTO = float(input("Introduce el gasto: "))
while (GASTO != -1):
  SUMGAS = SUMGAS + GASTO
  GASTO = float(input("Introduce el gasto: "))
print(f"Los gastos totales son: {SUMGAS}")

Introduce el gasto: 2528
Introduce el gasto: 3500
Introduce el gasto: 1600
Introduce el gasto: 1850
Introduce el gasto: 150
Introduce el gasto: -1
Los gastos totales son: 9628.0